#search-form {
  text-align:center;
}

#search-query {
<<<<<<< HEAD
<<<<<<< HEAD
  background: #b7410e;
=======
  background: #b58900;
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
  background: #b7410e;
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
  border: 01px solid #000;
}

#search-results ul {
  overflow: auto;
  list-style-type: none;
}
 
#search-results li {
  height: 20px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 15px;
  font-size: small;
}
 
#search-results li:last-child {
  border-right: none;
}
 
#search-results li a {
  text-decoration: none;
<<<<<<< HEAD
<<<<<<< HEAD
  color: #cc8746;
=======
  color: #ccc;
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
  color: #cc8746;
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#search-results li a:hover {
<<<<<<< HEAD
<<<<<<< HEAD
  color: #b7410e;
=======
  color: #666;
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
  color: #b7410e;
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
}
 
#search-results li.active a {
  font-weight: bold;
<<<<<<< HEAD
<<<<<<< HEAD
  color: #825643;
=======
  color: #333;
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
  color: #825643;
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

:-moz-placeholder { /* older Firefox*/
  font-size:14px;
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */ 
  font-size: 14px;
  color: #d0cdfa; 
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
 
:-ms-input-placeholder { 
  font-size: 14px; 
  color: #d0cdfa;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

